.current {
  background-color: green;
}

.btn {
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-size: contain;
  &--b1{
    background-image: url("/img/button1.png");
  }
  &--b2{
    background-image: url("/img/button2.png");
  }
  &--b3{
    background-image: url("/img/button3.png");
  }
  &--b4{
    background-image: url("/img/button4.png");
  }
  background-color: rgba( 255, 255, 255, 0.5 );
  border-radius: 30px;
  &--bp{
    width: 80px;
    height: 80px;
    background-color: rgba( 211, 211, 211, 0.5 );
    opacity: 0.1;
    border-radius: 15px;
  }
  border: none;
  cursor: pointer;
  text-align: center;
}
.btn:active{
  margin-left: 5px;
  margin-top: 5px;
  box-shadow: none;
}
.btn:hover{
  opacity: 0.8;
}

#container {
  width: 90%;
  margin: 0px auto;
  padding: 20px;
}
#header {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#sidebar-left {
  width: 160px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #bcbcbc;
}
#content {
  width: 65%;
  height: auto;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  text-align: left;
}

#post-content {
  width: 860px;
  padding: 20px;
  margin: 0px auto;
  border: 1px solid #bcbcbc;
}
#post-title {
  width: 860px;
  padding: 20px;
  margin: 10px auto;
  border: 1px solid #bcbcbc;
}
#post-iconbar {
  clear: both;
  margin: 0px auto;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: rgba( 211, 211, 211, 0.2 );
  text-align: center;
  position: fixed;
  left: 41%;
  top: 85%;
}
#sidebar-right {
  width: 25%;
  height: 700px;
  padding: 20px;
  margin-bottom: 20px;
  float: right;
  border: 2px solid #000000;
}
#footer {
  clear: both;
  padding: 20px;
  border: 1px solid #bcbcbc;
}
#iconbar {
  clear: both;
  margin: 0px auto;
  width: 700px;
  height: 200px;
  padding: 10px;
  text-align: center;
}
#img {
  width: 160px;
  height: 160px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  border: none;
  text-align: center;
}
.vl {
  border-left: 6px solid green;
  height: 1000px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
.hl {
  border-left: 6px solid green;
  width: 450px;
  position: absolute;
  margin-left: -3px;
}
#tt1 {
  width: auto;
  height: 50px;
  margin-top: -28.5px;
  margin-right: 0px;
  margin-left: -10px;
  text-align: left;
}
#tt2 {
  width: 111.1%;
  height: 30px;
  margin-top: -40px;
  margin-right: 0px;
  margin-left: -20px;
  background-color: rgb( 221, 160, 221);
  text-align: left;
}